<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Hi {{vName}} {{message}}</h1>
      <a href="/logout">Logout</a>
    </div>
    <script>
      console.log(window)
      var app = new Vue({
        el: '#app',
        data: {
          vName: '<%= name %>',
          message: 'you are authenticated'
        },
      })
    </script>
  </body>
</html>