<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Hi {{vName}}, {{message}}</h1>
      <a href="/googleConnect">GoogleConnect</a></br>
      <a href="/calendar">Display Calendar</a></br>
      <a href="/getEvents">Get Events</a></br>
      <a href="/logout">Logout</a>
      <div class="calendarItem" v-for="events in calData">
        <h2>{{events.summary}}</h2>
        <p> {{events.start.dateTime}}</p>
        <div v-if="!events.start.dateTime">
          <p> {{events.start.date}} to {{events.end.date}}
        </div>
      </div>
    </div>
    <script>
      
      var app = new Vue({
        el: '#app',
        data: {
          vName: '<%= name %>',
          message: 'Here\'s your calendar items',
          calData: []
        },
      })
      window.onload = function() {
        axios.get('/services/listEvents')
             .then((res) => {
               console.log(this.app._data)
               this.app._data.calData = res.data
             })
      }
    </script>
  </body>
</html>