<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Hi {{vName}}, {{message}} for {{month}}/{{day}}/{{year}}</h1>
      <p>Use GoogleConnect to connect to your google account (you only need to do this the first time you login after creating a new account. If you have already connected to google you will be redirected to "Display Calendar")</p>
      <a href="/googleConnect">GoogleConnect</a></br>
      <p>Use Display Calendar to display all calendar events</p>
      <a href="/calendar">Display Calendar</a></br>
      <a href="/insert">Insert Event</a></br>
      <h2>Web Services</h2>
      <a href="/services/listEvents">listEvents (displays event info in JSON)</a></br>
      <a href="/services/listCalendars">listCalenars (displays calendar info in JSON)</a></br></br>
    <a href="/logout">Logout</a>
      <div class="calendarItem" v-for="events in calData">
        <h2>{{events.summary}}</h2>
        <p> {{events.start.dateTime}}</p>
        <div v-if="!events.start.dateTime">
          <p> {{events.start.date}} to {{events.end.date}}
        </div>
        <button type="button" v-on:click="editEvent(events.id)">Edit Event</button>
        <button type="button" v-on:click="deleteEvent(events.id)">Delete Event</button>
      </div>
    </div>
    <script>
      
      var app = new Vue({
        el: '#app',
        data: {
          vName: '<%= name %>',
          dateParam: '<%= date %>',
          day: '',
          month: '',
          year: '',
          message: 'Here\'s your calendar items',
          calData: [],
          view: '<%= view %>'
        },
        methods: {
          editEvent: function(id) {
            console.log('edit event: ' + id)
          },
          deleteEvent: function(id) {
            console.log('delete event: ' + id)
            if (confirm("Are you sure you want to delete this event?")) {
              var params = {
                'id': id
              }
              axios.delete('/services/deleteEvent/' + id, params)
                .then((res) => {
                  if (res.status == 200) {
                    var params = {
                      view: this.view,  
                      start: this.dateParam
                    }
                    axios.post('/services/listEvents', params)
                      .then((res) => {
                        this.calData = res.data
                      })
                  }
                })
            } 
          }
        }
      })

      window.onload = function() {
        var d = this.app._data.dateParam
        var dObject = d.split('-')
        this.app._data.day   = dObject[1]
        this.app._data.month = dObject[0]
        this.app._data.year  = dObject[2]

        var params = {
          view: this.app._data.view,  
          start: this.app._data.dateParam
        }

        axios.post('/services/listEvents', params)
            .then((res) => {
              console.log(this.app._data)
              this.app._data.calData = res.data
            })
      }
    </script>
  </body>
</html>