<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>
    <header>
      <nav>
        <h1>Calendar App</h1>
      </nav>
    </header>
    <div id="app">
      <h1>Welcome {{ name }}</h1>
      <a href="/login">Login</a></br>
      <a href="/register">register</a>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: 'test'
        },
        methods: {
          loadstuff: function() {
            console.log("loadstuff")
            axios.get('/services/test')
              .then(response => {
                this.message = response.data;
              }) 
              .catch(function (err) {
                console.log(err)
              })
          }
        }
      })
    </script>
  </body>
</html>