
nav h1 {
  font-size: 20px;
  width: 200px;
  margin: 10px 20px;

}

nav ul {
  list-style-type: none;
  position: fixed;
  top: 0px;
  right: 10px;
}

nav li {
  margin: 0px 10px;
  float: left;
}

nav a {
  font-size: 15px;
  text-decoration: none;

}

header {
  position: fixed;
  top: 0px;
  height: 40px;
  bottom: 40px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}


